.floating-hearts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.floating-heart {
  position: absolute;
  top: 0; /* Provide a consistent starting point for the transform */
  width: 20px;
  background-color: rgba(199, 21, 133, 0.5);
  transform: rotate(-45deg);
  animation: float 10s linear infinite;
}

.floating-heart::before,
.floating-heart::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(199, 21, 133, 0.5);
}

.floating-heart::before {
  top: -10px;
  left: 0;
}

.floating-heart::after {
  top: 0;
  left: 10px;
}

@keyframes float {
  0% {
    transform: translateY(100vh) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) rotate(-45deg);
    opacity: 0;
  }
}
